.secao {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.secao-titulo {
    padding-left: 30px;
    margin-bottom: 20px;
}

.cartao-container {
    display: flex;
    padding-left: 20px;
}

.cartao {
    width: fit-content;
}