.secao {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-12 {
    margin-left: 12px;
}

.height-100px {
    height: 100px !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0;
}

.fileUpload {
    cursor: pointer;
/*     background-color: rgb(17, 152, 197); */
    /* color: #ffffff; */
    padding: 10px 20px;
    margin-left: 10px;
}
#upload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

fieldset,
label {
    margin: 0;
    padding: 0
}

.rating {
    border: none;
    margin-right: 49px
}

.myratings {
    font-size: 85px;
    color: green
}

.rating>[id^="star"] {
    display: none
}

.rating>label:before {
    margin: 5px;
    font-size: 2.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005"
}

.rating>.half:before {
    content: "\f089";
    position: absolute
}

.rating>label {
    color: #ddd;
    float: right
}

.rating>[id^="star"]:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #FFD700
}

.rating>[id^="star"]:checked+label:hover,
.rating>[id^="star"]:checked~label:hover,
.rating>label:hover~[id^="star"]:checked~label,
.rating>[id^="star"]:checked~label:hover~label {
    color: #FFED85
}

